.LoginBtn {
  min-width: 81px;
  color: rgb(185, 58, 58);
}
.ContactBtn {
  text-decoration: none;
}
.Bgcolor {
  background-color: #d33939;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  } */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: blue !important;
}
.header1 {
  /* background-color: #292429 !important */
  background-color: #2c0628 !important;
}
.btn {
  background-color: #0d6efd;
}
