.LoginBtn {
  min-width: 81px;
  color: rgb(185, 58, 58);
}
.ContactBtn {
  text-decoration: none;
}
.Bgcolor {
  background-color: #d33939;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  } */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(5, 5, 17) !important;
}
.header1 {
  /* background-color:rgb(233, 140, 175)!important */
  background-color: white !important;
  box-shadow: 0 6px 15px 0 rgb(0 0 0 / 10%);
}
/* .btn {
  background-color: #faf8fa !important  ;
  color: #2920d2 !important;
  font-weight: 700 !important;
  border: none
} */
.headerboldtext {
  font-size: 13px;
  font-weight: 800;
  color: black;
  margin-top: 5px;
}
.CartIcon {
  color: black;
}
.ProfileIcoon {
  color: black;
}
.HeaderIcon {
  color: black;
  margin-right: 10px;
}
.BrandName {
  font-size: 27px;
  font-weight: 500;
}
.BrandLogo{
  color: rgb(198, 32, 132);
}
