.LoginBtn {
  min-width: 81px;
  color: rgb(185, 58, 58);
}
.ContactBtn {
  text-decoration: none;
}
.Bgcolor {
  background-color: #d33939;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  } */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(5, 5, 17) !important;
}
.header1 {
  /* background-color:rgb(233, 140, 175)!important */
  background-color: white !important;
  box-shadow: 0 6px 15px 0 rgb(0 0 0 / 10%);
}
/* .btn {
  background-color: #faf8fa !important  ;
  color: #2920d2 !important;
  font-weight: 700 !important;
  border: none
} */
.headerboldtext {
  font-size: 13px;
  font-weight: 800;
  color: black;
  margin-top: 5px;
}
.CartIcon {
  color: black;
}
.ProfileIcoon {
  color: black;
}
.HeaderIcon {
  color: black;
  margin-right: 10px;
  margin-left: 20px;
}
.BrandName {
  font-size: 27px;
  font-weight: 500;
}
.BrandLogo {
  color: rgb(198, 32, 132);
}
.SearchBox {
  margin: 10px;
  width: 450px !important;
  height: 46px;
  background-color: #f5f5f6 !important;
  border-radius: 5px;
  border: 1px solid #f5f5f6 !important;
}


.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
}

.dropdown:hover{
  border-bottom: 2px solid #ad4870;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 25;
  padding: 15px;
  left: -91px;
  top: 67px;
  font-size: 14px;
  color: black;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  /* background-color: #ddd; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #8e3e69;
}
.Welcome {
  font-weight: 700;
}
.MyProfileLink:hover {
  font-weight: 700;
  cursor: pointer;
}
.Headericonalign {
  text-align: center;
}
